[Unit]
Description=nodock - Webhooks triggered by Travis that updates docker images
Documentation=https://github.com/nodock/nodock
After=network.target

[Service]
EnvironmentFile=/home/user/nodock/.env
Type=simple
User=user
WorkingDirectory=/home/user/nodock
ExecStart=/usr/bin/npm start
Restart=on-failure

[Install]
WantedBy=multi-user.target
